body{
    background-color: black;
}
p{
    font-size: 50px;
    color: white;
    background-color: navy;
}
h2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;
}
h1{
    color: rgb(148, 233, 21);
    font-size: 50px;
    text-align: center;
}