body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    transition: 2s;
    border-top-left-radius: 100%;
}
.div1:hover{
    transform: rotate(200deg) translateX(200px); scale: (0.3);
}
